<!--The content below is only a placeholder and can be replaced.-->
<div id="header-text" style="text-align:center">
  <h3>
    <i class="fab fa-d-and-d" id="startIcon"></i>
  </h3>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="searchbar">
      <app-searchbar></app-searchbar>
    </div>
  </div>
</div>

<!--<div class="row">
  <div class="col-md-12">
    <div id="feed">
      <h4>Reddit Post:</h4>
      <p id="post">{{ redditTitle }}</p>
    </div>
  </div>
</div>-->


  <div id="links">
    <div class="row">

      <div class="col-md-4">
      <div id="communication">
        <app-communication></app-communication>
        </div>
      </div>

      <div class="col-md-4">
      <div id="entertainment">
      <app-entertainment></app-entertainment>
        </div>
      </div>

      <div class="col-md-4">
      <div id="work">
        <app-work></app-work>
      </div>
    </div>

    </div>
  </div>
